html {
  background-color: #0b6758;
}

body {
  display: flex;
  margin: 100px;
  padding-top: 100px;
  justify-content: center;
}

.card-deck {
  display: flex;
  gap: 20px;
  max-width: 3400px;
  flex-wrap: wrap;
}

.card-whole {
  position: relative;
  height: 400px;
  width: 250px;
  perspective: 1000px;
}

.card-inner {
  position: absolute;
  height: 100%;
  width: 100%;
  transition: 0.8s;
  transform-style: preserve-3d;
}

/* .card-whole:is(:hover, .flipped) .card-inner, */
.card-whole:hover .card-inner,
.card-whole.flipped .card-inner {
  transform: rotateY(-180deg);
}

.card-front,
.card-back {
  position: absolute;
  backface-visibility: hidden;
}

.card-front {
  transform: rotateY(180deg);
}

.card-back>img {
  border-radius: 10px;
}

.card-front {
  display: grid;
  height: 400px;
  width: 250px;
  padding-left: 20px;
  padding-right: 20px;
  box-sizing: border-box;
  grid-template-rows: auto;
  grid-template-columns: 45px 120px 45px;
  border: 1px solid #121111;
  border-radius: 10px;
  background-color: ivory;
}

span {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  font-size: 32px;
  font-weight: bold;
}

.reds {
  color: crimson;
}

.column1,
.column3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-right: 20px;
}

.column2 {
  display: grid;
  grid-template-rows: auto;
  grid-template-columns: 40px 40px 40px;
}

.sub-column1 {
  box-sizing: border-box;
  padding-top: 75px;
  padding-bottom: 75px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  gap: 30px;
}

.reversed {
  transform: rotate(180deg);
}

.column3 {
  transform: rotate(180deg);
}

.ace {
  position: absolute;
  right: 75px;
}

.royal {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 64px;
  color: black;
}

.royal-red {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: crimson;
  font-size: 64px;
}